<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  </head>

  <body>
    <h1>Hoàn tất thanh toán</h1>  

    <p> Đây là thông tin đơn hàng bạn đã đặt  </p> 

    <h5>ĐỊA CHỈ GIAO HÀNG</h5>
    <div class="mb-3 row">
        <label class="col-sm-2 ">Họ và tên người nhận</label>
        <div class="col-sm-10">
            <%=HoTen%>        
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 ">eMail người nhận</label>
        <div class="col-sm-10">
            <%=eMail%>        
        </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 ">Số điện thoại người nhận</label>
      <div class="col-sm-10">
          <%=SoDienThoai%>        
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 ">Quốc gia</label>
      <div class="col-sm-10">
          <%=QuocGia%>        
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 ">Địa chỉ chi tiết</label>
      <div class="col-sm-10">
          <%=DiaChi%>        
      </div>
    </div>
    
    <div class="mb-3 row">
      <label class="col-sm-2 ">Hình thức giao hàng đã chọn</label>
      <div class="col-sm-10">
          <%=GiaoHang%>        
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 ">Hình thức Thanh Toán đã chọn</label>
      <div class="col-sm-10">
          <%=ThanhToan%>        
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 ">Mã khuyến mãi áp dụng</label>
      <div class="col-sm-10">
          <%=MKM%>        
      </div>
    </div>

    <br><label class="col-sm-2 ">Thành tiền: </label> <%=thanhtien%> 
    <br><label class="col-sm-2 ">Tổng tiền: </label> <%=tongtien%> 
  </body>

</html>


