<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  </head>

  <body>
    <h1>Giỏ hàng</h1>  

    <p> Giỏ hàng hiện tại  </p> 


    <table class="table table-striped">
      <tbody
    <% booklist.forEach(function(book){ %>
      <tr  id="book-<%= book.id%>">
        <td><%= book.id%> </td>
        <td>
          <h5 class="card-title"> <%= book.title %> </h5>
          <p class="card-text" id="price-<%= book.id%>">  <%= book.price%> </p>
        </td>
        <td> 
          <button onclick="giamSL(<%= book.id%>)">-</button>
          <input type="number"  onchange="thaydoi(<%= book.id%>)" width="50" id="number-<%= book.id%>" value="<%= book.quantity%>"> 
          <button onclick="tangSL(<%= book.id%>)">+</button> 
        </td>
        <td id="thanhtien-<%= book.id%>"><%= book.quantity*book.price%> </td>
      </tr>
      <% });  %>
      <tr>
        <td>Tổng tiền hóa đơn</td>
        <td></td>
        <td></td> 
        <td id="TongTien"><%=tongtien%></td>
      </tr>
    </tbody>
  </table>

  </body>

  <script>
    tongsotien = <%=tongtien%>;

    dssach = {};

    function themSach(id, sl, price) {
      dssach[id] = {sl: sl, price: price};
    }

    <% booklist.forEach(function(book){ %>
      themSach("<%= book.id%>", <%= book.quantity%>, <%=book.price%>);
    <% });  %>

    function thaydoi(xid) {
      var xsl = document.getElementById("number-" + xid).value;
      if (xsl < 0) { 
        xsl = 0; 
        document.getElementById("number-" + xid).value = 0;        
      }
      if (xsl > 100) { xsl = 100; }
      thanhtien = xsl * dssach[xid].price;
      ttcu = dssach[xid].sl * dssach[xid].price;
      tongsotien = tongsotien - ttcu + thanhtien;
      document.getElementById("thanhtien-" + xid).innerText =  thanhtien;
      document.getElementById("TongTien").innerText = tongsotien;
      dssach[xid].sl = xsl;

      if (xsl == 0) {
        var bk = document.getElementById("book-" + xid);
        bk.remove()
      }
    }

    function giamSL(xid) {
      var xsl = document.getElementById("number-" + xid).value;
      if (xsl > 0) 
      {
        xsl--;
        document.getElementById("number-" + xid).value = xsl;
        dongia = parseInt(document.getElementById("price-" + xid).innerText)
        tongsotien = tongsotien - dongia;
        document.getElementById("thanhtien-" + xid).innerText = 
        parseInt(document.getElementById("thanhtien-" + xid).innerText) 
          - dongia;
        document.getElementById("TongTien").innerText = tongsotien;
        dssach[xid].sl = xsl;

        if (xsl == 0) {
          var bk = document.getElementById("book-" + xid);
          bk.remove()
        }
      }
    }
    function tangSL(xid) {
      var xsl = document.getElementById("number-" + xid).value;
      if (xsl < 100) 
      {
        xsl++;
        document.getElementById("number-" + xid).value = xsl;
        dongia = parseInt(document.getElementById("price-" + xid).innerText);
        tongsotien = tongsotien + dongia;
        document.getElementById("thanhtien-" + xid).innerText = 
        parseInt(document.getElementById("thanhtien-" + xid).innerText) 
          + dongia;
        document.getElementById("TongTien").innerText = tongsotien;
      }
    }
  </script>


</html>

